/*
    Student Name: Grace Sinor
    Date: 05/19/2023
    File Name: styles.css
*/

/* Style rules for body and images */
body {
  color: #FFFFFF;
  background-color: #004C99;
}

body, button, input, textarea {
  font-family: 'Tsukimi Rounded', sans-serif;
}

img {
  width: 100%;
  display: block;
}

/* Style rules for text content */
h1 {
    font-size: 2em;
}

p, label {
    margin: 1em 0;
}

.small {
    font-size: 0.8em;
}

/* Style rules for links */
a {
  color: #9CFFF4;
}

/* Style rules for tables */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #0052A3;
}

tr {
  border-top: 1px solid #9CFFF4;
}

th {
    padding: 1%;
}

td {
  width: 0;
  text-align: center;
  vertical-align: top;
}

/* Styles for header area */
header img {
  width: 100%;
}

/* Style rules for navigation area */
nav {
  background-color: #0052A3;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  border-top: 0.5px solid #9CFFF4;
}

nav li a {
  display: block;
  color: #9CFFF4;
  padding: 0.5em 2em;
  text-decoration: none;
}

nav li a:hover {
  background-color: #004C99;
}

nav li a.active {
  color: #FFFFFF;
}

/* Style rules for main content */
main {
  padding: 2%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.row iframe {
  aspect-ratio: 16 / 9;
  flex: 1;
  margin: 2% 0;
  border-radius: 3px;
  box-shadow: 0 0 15px #001e3d;
}

figure {
  border-radius: 3px;
  background-color: #0052A3;
  margin: 2% auto;
  box-shadow: 0 0 15px #001e3d;
}

figure img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

figcaption {
  padding: 2%;
}

/* Style rules for form elements */
label {
  display: block;
}

input, textarea {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 3px;
  border: none;
  width: 100%;
}

input:focus, textarea:focus {
  outline: none;
}

form small {
  display: block;
}

form .buttons {
  margin-top: 1em;
  text-align: center;
}

button {
  background-color: #0052A3;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  padding: 1em;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #9CFFF4;
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #0052A3;
  padding: 1% 0;
}

.social img {
  display: inline-block;
  padding: 4%;
  width: auto;
}


/* Media Query for Tablet Viewport */
@media (min-width: 768px) {
  /*  Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
  }

  nav li a {
    padding: 1em;
    font-size: 1.5em;
  }

  /* Tablet Viewport: Style rules for main content */
  .row {
    flex-direction: row;
  }

  .row iframe:first-of-type {
    margin-right: 2%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }
}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) { 
    
}
